#set($subject = "🚗 $device.name: troca de oleo em breve")
#set($digest = "Troca de oleo em breve em $device.name as $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone)")
<!DOCTYPE html>
<html>
<body>
<strong>🚗 $device.name</strong><br>
🔧 Troca de oleo em breve<br>
#if($event.attributes.oilKmRemaining)⏳ Faltam: $event.attributes.oilKmRemaining km#{if($event.attributes.oilDaysRemaining)} / $event.attributes.oilDaysRemaining dias#{end}<br>#end
#if($event.attributes.oilDueKm)🎯 Proxima: $event.attributes.oilDueKm km#{if($event.attributes.oilDueDate)} ou $event.attributes.oilDueDate#{end}<br>#end
#if($event.attributes.oilCurrentKm)📍 Km atual: $event.attributes.oilCurrentKm km<br>#end
👉 <a href="$webUrl/event/$event.id">Abrir detalhe</a><br>
<small><a href="$webUrl/settings/notifications?token=$token">Cancelar inscricao</a></small>
</body>
</html>
